.site-background {
  position:absolute;
  left: 10%;
  width:1000px;
  height:100%;
  //background: url(/media/background.jpg) repeat-y center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:-1;
}

.iphone-container {
  width:50%;
  position:absolute;
  left:0;
  top:0;
}
.iphone {
  position:relative;
  margin:30px auto;
  width:420px;
  height:900px;
  background: url(/media/iphone.png) no-repeat;

  $start-x: 43px;
  $start-y: 276px;
  $width:85px;
  $height:85px;
  .appicon {
    position:absolute;
    width:$width;
    height:$height;
    background: url(/media/appicons/Facebook.png) no-repeat;
  }
  .pos0-0 {
    left:($start-x+$width*0);
    top:($start-y+$height*0);
  }
  .pos0-1 {
    left:($start-x+$width*1);
    top:($start-y+$height*0);
  }
  .pos0-2 {
    left:($start-x+$width*2);
    top:($start-y+$height*0);
  }
  .pos0-3 {
    left:($start-x+$width*3);
    top:($start-y+$height*0);
  }
  .pos1-0 {
    left:($start-x+$width*0);
    top:($start-y+$height*1);
  }
  .pos1-1 {
    left:($start-x+$width*1);
    top:($start-y+$height*1);
  }
  .pos1-2 {
    left:($start-x+$width*2);
    top:($start-y+$height*1);
  }
  .pos1-3 {
    left:($start-x+$width*3);
    top:($start-y+$height*1);
  }
  .pos2-0 {
    left:($start-x+$width*0);
    top:($start-y+$height*2);
  }
  .pos2-1 {
    left:($start-x+$width*1);
    top:($start-y+$height*2);
  }
  .pos2-2 {
    left:($start-x+$width*2);
    top:($start-y+$height*2);
  }
  .pos2-3 {
    left:($start-x+$width*3);
    top:($start-y+$height*2);
  }
  .pos3-0 {
    left:($start-x+$width*0);
    top:($start-y+$height*3);
  }
  .pos3-1 {
    left:($start-x+$width*1);
    top:($start-y+$height*3);
  }
  .pos3-2 {
    left:($start-x+$width*2);
    top:($start-y+$height*3);
  }
  .pos3-3 {
    left:($start-x+$width*3);
    top:($start-y+$height*3);
  }
}


.text-container {
  position:absolute;
  width:70%;
  left:50%;
  top:0;
  font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size:25px;
  color:#333333;
  text-align:left;

  .text {
    padding:10px;
    width:80%;
    height:80%;
    margin:100px 0;
    background-color:rgba(255,255,255,0.5);

    .title {
      font-family: "HelveticaNeue-Bold","Helvetica Neue Bold","Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
      font-size:60px;
      margin-bottom:20px;
    }
    .body-text {
      margin-bottom:20px;
    }
    .cta {
      margin-bottom:20px;
    }
  }
}
