$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// overwrite bootstrap styling that is applied automatically 
#houdini {
  width: 100%;
  max-width: 100%;
  padding: 0;
}

.banner {
  // background: rgba(0,0,0,0.4);
}

.logo {
  color: #F8F8F8;
  display: inline-block;
  vertical-align: sub;
  cursor: default;
}

.title img {
  cursor: default;
}

.header {
  img, .logo {
    cursor: default;
  }
}

.companies {
  background: rgb(252, 252, 252);
  p {
    font-size: 40px;
    text-align: center;
    font-weight: 100;
    color: #ACACAC;
    padding-top: 30px;
    margin: 0;
  }
}

#online{
  .companies {
    background: rgba(255,255,255, 0.7);
    width: 70%;
    margin: 0 auto;
    border-radius: 10px;
    .title {
      font-size: 18px;
      line-height: 1;
      color: #020202;
      padding-top: 20px;
      font-weight: 200;
      margin: 10px;
    }
  }

  .company-logo {
    height: 40px;
    cursor: pointer;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: brightness(0%) grayscale(100%);; /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .1s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
  }

  .company-logo:hover {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
  }
}

.submit-text {
  color: ghostwhite;
  line-height: 40px;
  font-weight: 200;
}

.thankyou-text {
  color: white;
}

.company-logos {
  display: inline-block;
}

.company-logo {
  height: 60px;
  margin: 20px;
}

.signup {
  background: #F0AF3E;
  text-align: center;
  padding: 30px;
  margin-top:20px;
  #email {
    .form-group {
      margin: 0;
    }

    label {
      color: white;
      font-size:18px;
    }
    input {
      margin: 10px;
      display: inline-block;
    }
    a {
      display: inline-block;
      padding: 9px 16px;
      font-size: 14px;
      line-height: 1;
      border-radius: 4px;
      margin-left: 10px;
    }

  }
}

body{
 background: #fff;
}

#email {
  label {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: 200;
    font-size: 14px;
    color: #FFF;
  }
  input {
    width: 20%;
    margin: 10px auto;
    min-width: 240px;
  }
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  // border-bottom: 1px solid #e5e5e5;
  background: none;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding: 20px 0;
  color: #777;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  background: white;

  .footer-content{
    width: 70%;
    margin: 20px auto;
  }

  div {
    float: left;
  }

  span {
    float: right;
  }

  a {
    color: #90CB64;
  }
  a:hover {
    text-decoration: none;
    border-bottom: 1px dashed #90CB64;
  }
}


.container-narrow > hr {
  margin: 30px 0;
}

.nav-pills > li + li {
  margin-left: 10px;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  padding-left: 60px;
  padding-right: 60px;
  background: none;
  padding-top: 20px;
  border-radius: 0;
  color: black;
  margin-bottom: 0;
  h1 {
    font-size: 70px;
    opacity: 0.9;
    font-weight: 500;
  }
  p {
    margin: 5px auto;
    min-width: 200px;
  }
  .value-prop {
    color:black;
    background-image: url('/media/robot530.jpg');
    background-repeat: no-repeat;  
    background-position: 4%, 1%;  
  }
  .lead {
    font-size: 30px;
    color: black;
    font-weight: 100;
  }
  .company-name {
    color: ghostwhite;
    font-weight: 900;
    font-size: 70px;
    line-height: 1;
    span {
      color: #eee;
      font-weight: 500;
    }
  }

  .supported-company {
    margin: 10px;
  }
}

#demo-video {
  position:absolute;
  z-index:100;
  top:10%;
  left:30%;
}


.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  padding: 20px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    // max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin: 0 auto 30px;
    padding-top: 20px;
    width: 70%;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* DASHBOARD */

.logo-text {
  font-size: 27px;
}

.top-logo {
  float:left;
  margin-left:10px;
}

.top-logo:hover {
  cursor: pointer;
}

.main-panel {
  margin-left:250px;
  margin-top: 30px;
}

.panel-header {
  margin-left:30px;
  height:100px;
  .project-name {
    float:left;
  }
  .setup {
    margin-left: 303px;
    float:left;
  }
}

.snapshot img {
  margin-right:15px;
  margin-bottom:70px;
  width: 200px;
}

.zoom img {
  position:absolute;
  top:140px;
  width: 980px;
  margin-bottom:980px;
}

.snapshot-label {
  float:left;
}

.test-section {
  clear:both;
  margin:20px;
}

.code-setup {
  margin-right:20px;
  display:inline;
}

.project-settings {
  display:inline;
}

.projects-container ul {
  list-style: none;
  margin-top: 10px;
  margin-left:30px;
  padding: 0;
}

.projects-panel {
  margin-top:35px;
  margin-left:10px;
}

.plan-info {
  margin-left:10px;
}

pre code {
  color: #4269B2;
  font-family: Courier;
  font-size: 0.9em;
  line-height: 1;  
}

#header-top {
  background: #F7B33B;
  border-bottom: 1px solid #104682;
  color: #fff;
  min-height: 40px;
  position: relative;
  z-index: 1001;
}

.nav-top {
  float:right;
  display:inline;
  list-style:none;  
}

.nav-top li {
  display:inline-block;
}

.account-menu-username {
  color: white;
  margin-right: 20px;
  font-size: 20px;
}

#sign-in {
  color: white;
  margin-right: 20px;
  font-size: 20px;
}

#sign-out {
  color: white;
  margin-right: 20px;
  font-size: 20px;
}

#navigation-container {
  background-image: url('/media/robot515.jpg');
  background-position: 1%, 1%;  
  color:black;
  font-size: 16px;
  padding: 35px 0 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 240px;
}

.bottom {
  margin-left: 32px;
}

.login-prompt {
  margin-left:10px;
}

.plan-box{
  background-image:url('/media/sheet315.jpg');
  width: 30%;
  height: 340px;
  display: inline-block;
  float: left;
  margin-right: 19px;
  padding: 20px;
  border: solid 1px #BBD146;
  li{
    list-style: none;
  }  
}

.plan-info{
  text-align: center;
  margin-left: 10px;
  margin-top: 2px;
  margin-bottom: 2px;
  clear: both;
  display: block;
  border: solid 1px #f1f1f1;
}

.plan-title {
  font-size: 30px;
  color: #BBD146;
  font-weight: bold;
}

.plan-price-text {
  font-size: 20px;
  font-weight:500;
}

#watch-link a {
  color:black;
}

.test-header {
  height: 50px;
  margin-bottom: 20px;
}
.test-title {
  float:left;
}

.test-status {
  margin-right: 400px;
  float:right;
}

.status-text {
  margin-right:20px;
}

.status-image {
  width:50px;
  height:50px;
}
