.container
  .title
    img(src='/media/logo_grey.png', ng-click="goHome()")
    h3.logo(ng-click="goHome()") Houdini
  .jumbotron
    .value-prop 
      h1 About
      p.lead something about us goes here

