.container
  .heading
    h1.title 2048
    .scores-container
      .score-container 0
      .best-container 0
  p.game-intro
    | Join the numbers and get to the
    strong 2048 tile!
  .game-container
    .game-message
      p
      .lower
        a.keep-playing-button Keep going
        a.retry-button Try again
    .grid-container
      .grid-row
        .grid-cell
        .grid-cell
        .grid-cell
        .grid-cell
      .grid-row
        .grid-cell
        .grid-cell
        .grid-cell
        .grid-cell
      .grid-row
        .grid-cell
        .grid-cell
        .grid-cell
        .grid-cell
      .grid-row
        .grid-cell
        .grid-cell
        .grid-cell
        .grid-cell
    .tile-container
  p.game-explanation
    strong.important How to play:
    |  Use your
    strong arrow keys
    |  to move the tiles. When two tiles with the same number touch, they
    strong merge into one!
  hr
  p
    strong.important Note:
    |  This site is the official version of 2048. You can play it on your phone via
    a.buffer(href='http://git.io/2048') http://git.io/2048.
    |  All other apps or sites are derivatives or fakes, and should be used with caution.
  hr
  p
    |  Created by
    a.buffer(href='http://gabrielecirulli.com', target='_blank') Gabriele Cirulli.
    |  Based on
    a.buffer(href='https://itunes.apple.com/us/app/1024!/id823499224', target='_blank') 1024 by Veewo Studio
    |  and conceptually similar to
    a.buffer(href='http://asherv.com/threes/', target='_blank') Threes by Asher Vollmer.
  p
    |  Startup 2048 by
    a.buffer(href='')  Liquid Labs
  hr
  .signup
    p.prompt
      | We are building an app that makes finding a job delightful.
    p Want early access invite?
      a.buffer.btn.btn-primary.btn-success(ng-click="loginSocial()", href="") Login with Github.
.footer
  p ♥ from San Francisco
    //- span
    //-   a(href="/about") About
