.container
  .heading
    h1.title 2048
    .scores-container
      .score-container 0
      .best-container 0
  p.game-intro
    | Join the startups and get to the
    strong  $20.48B Whatsapp valuation!
  .game-container
    .game-message
      p
      .lower
        a.keep-playing-button Keep going
        a.retry-button Try again
    .grid-container
      .grid-row
        .grid-cell
        .grid-cell
        .grid-cell
        .grid-cell
      .grid-row
        .grid-cell
        .grid-cell
        .grid-cell
        .grid-cell
      .grid-row
        .grid-cell
        .grid-cell
        .grid-cell
        .grid-cell
      .grid-row
        .grid-cell
        .grid-cell
        .grid-cell
        .grid-cell
    .tile-container
  p.game-explanation
    strong.important How to play:
    |  Use your
    strong arrow keys
    |  to move the tiles. When two tiles with the same number touch, they
    strong merge into one!
  hr
  p
    strong.important Note:
    |  This site is the official version of 2048. You can play it on your phone via
    a.buffer(href='http://git.io/2048') http://git.io/2048.
    |  All other apps or sites are derivatives or fakes, and should be used with caution.
  hr
  p
    |  Created by
    a.buffer(href='http://gabrielecirulli.com', target='_blank') Gabriele Cirulli.
    |  Based on
    a.buffer(href='https://itunes.apple.com/us/app/1024!/id823499224', target='_blank') 1024 by Veewo Studio
    |  and conceptually similar to
    a.buffer(href='http://asherv.com/threes/', target='_blank') Threes by Asher Vollmer.
  p
    |  Startup 2048 by
    a.buffer(href='')  Liquid Labs
  hr
.signup
  p.prompt
    | P.S. We are building an app that lets you chat 1:1 with engineers at top tech companies, get advice, answers and skip to a phone screen if there's mutual interest.
  p Want an invite?
  form#email(role="form")
    .form-group(ng-hide="signedUp('signup')")
      div(ng-hide="signedUp('signup')")
        input#email-input.form-control(type="email", ng-model="email", placeholder="Enter your email")
        input.btn.btn-success(type="submit", ng-click="handleForm('signup')", value="Submit")
  span.thankyou-text(ng-show="signedUp('signup')") Thanks so much for your interest!
.footer
  p ♥ from San Francisco
    //- span
    //-   a(href="/about") About
