#chat.container
  .title
    img(src='/media/logo_grey.png', ng-click="goHome()")
    h3.logo(ng-click="goHome()") Cilantro
    p Feel free to ask the employee any question. Each session on average lasts 10-15mins. 
  .referral  
      span Do you have a friend who can benefit from Cilantro? 
      div.invite
        input.form-control(type="email", ng-model="email", placeholder="Enter a friend's email")  
        a.btn.btn-lg.btn-success(href="", ng-click="inviteFriend()", ng-hide="invited") Send Invite
      p.thankyou-ref-text(ng-show="invited") Thanks for sending an invite!
#room.container
  .banner 
    div.message-col
      div#chat-menu.chat-menu Chat
      div#chat-window.overflowable
        p.clearfix(ng-repeat='message in messages')
          span(class="{{classForRole(message.from)}}"){{message.from}}: 
          span.chat-txt(ng-bind-html-unsafe="content"){{message.content}}         
      div#msg-field.msg-field
        form(ng-submit='addMessage(username, message)')
          input(ng-model='message')
.referral-mobile  
    span Do you have a friend who can benefit from Cilantro? 
    div.invite
      input.form-control(type="email", ng-model="email", placeholder="Enter a friend's email")  
      a.btn.btn-lg.btn-success(href="", ng-click="inviteFriend()", ng-hide="invited") Send Invite
    p.thankyou-ref-text(ng-show="invited") Thanks for sending an invite!