div#demo-video
	a(href="", ng-click="cancel()") Cancel
	iframe(src='//player.vimeo.com/video/37254322?color=ffffff&amp;autoplay=1', width='800', height='450', frameborder='0', webkitallowfullscreen='webkitallowfullscreen', mozallowfullscreen='mozallowfullscreen', allowfullscreen='allowfullscreen') 